OPENSEARCH_DEV_USERNAME=your-username
OPENSEARCH_DEV_PASSWORD=your-password
OPENSEARCH_QA_USERNAME=your-username
OPENSEARCH_QA_PASSWORD=your-password
OPENSEARCH_PROD_USERNAME=your-username
OPENSEARCH_PROD_PASSWORD=your-password
